<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>179483225229-jslsa27i37vcqb9coa8e13mus6lbeuv3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKPigDejhvMOLenx3WeyARO_RIID1fIVo</string>
	<key>GCM_SENDER_ID</key>
	<string>179483225229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>balel-pipariya-ab2b8</string>
	<key>STORAGE_BUCKET</key>
	<string>balel-pipariya-ab2b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179483225229:ios:d97b43a7e1c4932bc986c4</string>
</dict>
</plist>